<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="<%=color%> ">
    <h1>Home</h1>
    <p><%=name%>님 환영합니다</p>
    <a href="/logout">logout</a>
</body>
<style>
    .black{
        background-color: black;
        color:white;
    }
</style>
</html>